<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="MooTools Core Team and contributors" />
	<meta name="description" content="A version of the MooTools documentation packaged as a Docset" />
	<meta name="generator" content="Dash-MooTools" />
	<meta name="generator" content="kramdown <%= ::Kramdown::VERSION %>" />

	<title>MooTools documentation</title>

	<link href="/icon.png" rel="shortcut icon" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="../../Stylesheets/blueprint.css"/>
	<link rel="stylesheet" type="text/css" href="../../Stylesheets/main.css"/>
	<link rel="stylesheet" type="text/css" href="../../Stylesheets/dash-mootools.css"/>
</head>
<body>
	<%= @body %>
</body>
</html>